
.fwb-sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    background: $sidebar-bg;
    color: $sidebar-text-color; // Adding text color
}

.fwb-sidebar h2,
.fwb-sidebar h3 {
    color: $sidebar-headers-color; // Adding header color
}

.fwb-sidebar a {
    color: $sidebar-anchors-color; // Adding link color
}

@media (max-width: 768px) {
    .fwb-sidebar {
        display: none;
    }
}