$sidebar-top-indent: 50px;
.fwb-sticky-sidebar {
    top: $sidebar-top-indent;
    position: sticky;
    height: fit-content;
}

.fwb-sticky-header + .fwb-container .fwb-sticky-sidebar {
    top: $sidebar-top-indent + 120px;
}