.elementor-icon {

    i,
    svg {
        font-family: 'FontAwesome';
        width: 1em;
        height: 1em;
    }
}

.elementor-social-icons-wrapper {

    .elementor-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.elementor-editor-active {
    
    .fwb-elementor-block {

        .fwb-mobile-view {
            display: block;
        }
    }
}

.swiper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}

// body.elementor-editor-active *:not(.elementor-edit-mode) {
//     display: none !important;
// }