.elementor-social-icons-wrapper {

    .elementor-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.elementor-editor-active {

    .fwb-mobile-view {
        display: block;
    }
}

// body.elementor-editor-active *:not(.elementor-edit-mode) {
//     display: none !important;
// }
