div.fwb-container {
  display: block;
  margin-inline: auto;
  max-width: var(--container-max-width);
}
@media screen and (max-width: 1200px) {
  div.fwb-container {
    max-width: calc(100% - 60px);
  }
}

.fwb-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  gap: 35px;
}
.fwb-row.fwb-row-spacing {
  margin-bottom: -20px;
}
.fwb-row.fwb-row-spacing [class^=fwb-col-] {
  margin-bottom: 20px;
}

[class^=fwb-col-] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  flex: 1 0 calc((100% - 20px - 35px) / 3);
}

.fwb-col-auto {
  flex: 1 0 calc((100% - 20px) / 3);
}

.fwb-col-fixed {
  flex: 0 0 auto;
}

.fwb-col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

.fwb-col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

.fwb-col-3 {
  flex-basis: 25%;
  max-width: 25%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.fwb-col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

.fwb-col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

.fwb-col-6 {
  flex-basis: 50%;
  max-width: 50%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
}

.fwb-col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

.fwb-col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

.fwb-col-9 {
  flex-basis: 75%;
  max-width: 75%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
}

.fwb-col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

.fwb-col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

.fwb-col-12 {
  flex-basis: 100%;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .fwb-col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .fwb-col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

a {
  color: #007bff;
}
a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.fwb-switcher-control {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.fwb-switcher-control input {
  opacity: 0;
  width: 0;
  height: 0;
}
.fwb-switcher-control .fwb-switcher-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: background-color 0.4s, transform 0.2s ease-out;
  border-radius: 34px;
}
.fwb-switcher-control .fwb-switcher-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: transform 0.2s ease-out, background-color 0.4s;
  border-radius: 50%;
}
.fwb-switcher-control:hover .fwb-switcher-slider {
  background-color: #99c2ff;
  transform: scale(1.1) translateY(-5px);
}
.fwb-switcher-control input:checked + .fwb-switcher-slider {
  background-color: #2196F3;
}
.fwb-switcher-control input:focus + .fwb-switcher-slider {
  box-shadow: 0 0 1px #2196F3;
}
.fwb-switcher-control input:checked + .fwb-switcher-slider:before {
  transform: translateX(26px);
}

.fwb-color-picker-control-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.fwb-color-picker-control-wrapper .fwb-color-picker-control {
  background: transparent;
  border: none;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}
.fwb-color-picker-control-wrapper .fwb-color-picker-control:hover {
  transform: scale(1.1) translateY(-5px);
}
.fwb-color-picker-control-wrapper .fwb-clear-color-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}
.fwb-color-picker-control-wrapper .fwb-clear-color-button:hover {
  color: #004080;
}

.fwb-select-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}
.fwb-select-control:hover, .fwb-select-control:focus {
  transform: scale(1.1) translateY(-5px);
}
.fwb-select-control option:checked {
  background-color: #99c2ff;
}
@media (max-width: 768px) {
  .fwb-select-control:hover, .fwb-select-control:focus {
    transform: none;
  }
}

.fwb-select-control + .fwb-control,
.fwb-select-control ~ .fwb-control {
  transition: transform 0.3s ease-in-out;
}
.fwb-select-control + .fwb-control:hover, .fwb-select-control + .fwb-control:focus,
.fwb-select-control ~ .fwb-control:hover,
.fwb-select-control ~ .fwb-control:focus {
  transform: scale(1.1) translateY(-5px);
}
@media (max-width: 768px) {
  .fwb-select-control + .fwb-control:hover, .fwb-select-control + .fwb-control:focus,
  .fwb-select-control ~ .fwb-control:hover,
  .fwb-select-control ~ .fwb-control:focus {
    transform: none;
  }
}

.fwb-text-control {
  display: inline-block;
  padding: 10px;
  transition: background-color 0.4s, transform 0.2s ease-out;
}
.fwb-text-control:hover {
  transform: scale(1.1) translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
  background-color: #f8f8f8;
}