// Define a mixin to apply color schemes
@mixin apply-scheme($scheme) {
    @each $property, $color in $scheme {
        --#{$property}: #{$color};
    }
}

@mixin btn-go-to {
    width: inherit;
    color: white;
    margin: 0;
    text-align: center;
    background-color: $link-color;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
        background-color: $link-hover-color;
    }
}