div.fwb-container {
  display: block;
  margin-inline: auto;
  max-width: calc(100% - 60px);
}

.fwb-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  gap: 35px;

  &.fwb-row-spacing {
    margin-bottom: -20px;

    [class^="fwb-col-"] {
      margin-bottom: 20px;
    }
  }
}

[class^="fwb-col-"] {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  flex: 1 0 calc((100% - 20px - 35px) / 3);
}

.fwb-col-auto {
  flex: 1 0 calc((100% - 20px) / 3);
  min-width: 0; // Note: For Swiper fix
}

.fwb-col-fixed {
  flex: 0 0 auto;
}

@for $i from 1 through 12 {
  .fwb-col-#{$i} {
    flex-basis: calc((100% / 12) * $i);
    max-width: calc((100% / 12) * $i);

    @media screen and (max-width: 1024px) {
      flex-basis: calc((100% / 12) * $i);
      max-width: calc((100% / 12) * $i);
    }

    @media screen and (max-width: 767px) {
      flex-basis: calc((100% / 12) * $i);
      max-width: calc((100% / 12) * $i);
    }
  }
}

// For product grid

@for $i from 1 through 12 {
  .fwb-product-cols-#{$i} {
    display: flex;
    flex-wrap: wrap;

    li.product {
      width: percentage(calc(1 / $i));
      box-sizing: border-box;
      padding: 20px 10px;
    }
  }
}

@media (max-width: 1024px) {
  @for $i from 1 through 12 {
    .fwb-product-cols-t-#{$i} {
      display: flex;
      flex-wrap: wrap;

      li.product {
        width: percentage(calc(1 / $i));
        box-sizing: border-box;
        padding: 20px 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  @for $i from 1 through 12 {
    .fwb-product-cols-m-#{$i} {
      display: flex;
      flex-wrap: wrap;

      li.product {
        width: percentage(calc(1 / $i));
        box-sizing: border-box;
        padding: 20px 10px;
      }
    }
  }
}