.fwb-options-page {

    div.nav-tab-wrapper {
        margin-bottom: 20px;
    }

    .fwb-section {
        background: white;
        border: 1px solid rgb(190, 190, 190);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .fwb-section-header {
            background: rgb(250, 250, 250);
            border-bottom: 1px solid rgb(190, 190, 190);
            padding: 20px;
        }

        .fwb-title {
            margin: 0;
        }

        .fwb-description {
            font-style: italic;
        }
    }

    .form-table {

        tbody {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            padding: 20px;

            tr {
                display: flex;
                flex-direction: column;

                td {
                    padding: 0;
                }
            }
        }
    }
}

